In [1]:
import pandas as pd

In [4]:
#How many cities (doesnotncluding subregions) where Swiggy is having its restaurants listed?

def count_unique_cities(csv_file):
  
    df = pd.read_csv(csv_file)

    
    unique_cities = df['city'].unique()

    
    num_cities = len(unique_cities)

    return num_cities

if __name__ == "__main__":
    csv_file = 'Swiggy_dataset.csv'
    num_cities = count_unique_cities(csv_file)
    print(f"Swiggy is listed in {num_cities} cities.")

Swiggy is listed in 9 cities.

In [6]:
#How many cities  (don't include subregions) where Swiggy is having their restaurants listed?
import pandas as pd

def count_unique_locations(csv_file):
   
    df = pd.read_csv(csv_file)

    locations = df['city'].fillna('') + ', ' + df['area'].fillna('')

    unique_locations = locations.unique()

    num_locations = len(unique_locations)

    return num_locations

if __name__ == "__main__":
    # Replace 'restaurants.csv' with the name of your CSV file containing the cities and subregions
    csv_file = 'Swiggy_dataset.csv'
    num_locations = count_unique_locations(csv_file)
    print(f"Swiggy is listed in {num_locations} cities and subregions.")

Swiggy is listed in 888 cities and subregions.

In [12]:
#he Subregion of Delhi with the maximum number of restaurants listed on Swiggy?

import pandas as pd

def find_max_restaurants_subregion(csv_file):
   
    df = pd.read_csv(csv_file)

   
    delhi_data = df[df['city'] == 'Delhi']

    
    subregion_restaurant_counts = delhi_data['area'].value_counts()

    max_subregion = subregion_restaurant_counts.idxmax()
    max_restaurants_count = subregion_restaurant_counts.max()

    return max_subregion, max_restaurants_count

if __name__ == "__main__":
    csv_file = 'Swiggy_dataset.csv'
    max_subregion, max_restaurants_count = find_max_restaurants_subregion(csv_file)
    print(f"The subregion of Delhi with the maximum number of restaurants listed on Swiggy is '{max_subregion}' with {max_restaurants_count} restaurants.")

The subregion of Delhi with the maximum number of restaurants listed on Swiggy is 'Rohini' with 254 restaurants.

In [15]:
#Name the top 5 Most Expensive Cities in the Datasets
import pandas as pd

def find_top_5_most_expensive_cities(df):
   
    avg_expenses = df.groupby('city')['costForTwoStrings'].sum()

    sorted_avg_expenses = avg_expenses.sort_values(ascending=False)

    top_5_cities = sorted_avg_expenses.head(5)

    return top_5_cities

if __name__ == "__main__":
    csv_file = 'Swiggy_dataset.csv'
    df = pd.read_csv(csv_file)
    top_5_cities = find_top_5_most_expensive_cities(df)

    print("Top 5 Most Expensive Cities:")
    print(top_5_cities)

Top 5 Most Expensive Cities:
city
Hyderabad    ₹400 FOR TWO₹300 FOR TWO₹300 FOR TWO₹400 FOR T...
Mumbai       ₹400 FOR TWO₹200 FOR TWO₹400 FOR TWO₹300 FOR T...
Bangalore    ₹400 FOR TWO₹150 FOR TWO₹350 FOR TWO₹200 FOR T...
Surat        ₹300 FOR TWO₹300 FOR TWO₹350 FOR TWO₹300 FOR T...
Kolkata      ₹300 FOR TWO₹200 FOR TWO₹100 FOR TWO₹400 FOR T...
Name: costForTwoStrings, dtype: object

In [17]:

#List out the top 5 Restaurants with Maximum & minimum ratings throughout the dataset.
import pandas as pd

def top_5_max_min_ratings(csv_file):
    df = pd.read_csv(csv_file)

    df_sorted = df.sort_values(by='totalRatingsString', ascending=False)
    top_5_max_ratings = df_sorted.head(5)

    top_5_min_ratings = df_sorted.tail(5)

    return top_5_max_ratings, top_5_min_ratings

if __name__ == "__main__":
    
    csv_file = 'Swiggy_dataset.csv'
    top_5_max, top_5_min = top_5_max_min_ratings(csv_file)

    print("Top 5 Restaurants with Maximum Ratings:")
    print(top_5_max[['name', 'totalRatingsString']])

    print("\nTop 5 Restaurants with Minimum Ratings:")
    print(top_5_min[['name', 'totalRatingsString']])

Top 5 Restaurants with Maximum Ratings:
                          name totalRatingsString
8690  Waterbomb pani-puri shop    Too Few Ratings
5498          ICECREAM STATION    Too Few Ratings
2300       The Shawarma Makers    Too Few Ratings
5529           Khana Americana    Too Few Ratings
5525               Bangaliyana    Too Few Ratings

Top 5 Restaurants with Minimum Ratings:
                      name totalRatingsString
6894        De Goa Kitchen       100+ ratings
4890            Snax Point       100+ ratings
6897  Suraj Chinese Corner       100+ ratings
6899           Al Baik.com       100+ ratings
4345       Triple a bakery       100+ ratings

In [18]:

import pandas as pd

def top_5_max_min_ratings(csv_file):
    df = pd.read_csv(csv_file)

    df_sorted = df.sort_values(by='avgRating', ascending=False)

    top_5_max_ratings = df_sorted.head(5)

    top_5_min_ratings = df_sorted.tail(5)

    return top_5_max_ratings, top_5_min_ratings

if __name__ == "__main__":
    csv_file = 'Swiggy_dataset.csv'
    top_5_max, top_5_min = top_5_max_min_ratings(csv_file)

    print("Top 5 Restaurants with Maximum Ratings:")
    print(top_5_max[['name', 'avgRating']])

    print("\nTop 5 Restaurants with Minimum Ratings:")
    print(top_5_min[['name', 'avgRating']])

Top 5 Restaurants with Maximum Ratings:
                    name avgRating
2250              Afresh         5
6225         Cafe Kokomo         5
6042               SNAXX         5
7060     Get In My Belly         5
7059  The Asian Pavilion         5

Top 5 Restaurants with Minimum Ratings:
                          name avgRating
6023                CAKE DAY 7        --
6024               Al-Baik.com        --
6025        JOLLYBEE FAST FOOD        --
6028       French fries Fusion        --
8690  Waterbomb pani-puri shop        --

In [19]:
Name of top 5 cities with the highest number of restaurants listed.
import pandas as pd

def top_5_cities_with_highest_restaurants(csv_file):
    df = pd.read_csv(csv_file)
    city_restaurant_counts = df['city'].value_counts()

    top_5_cities = city_restaurant_counts.head(5)

    return top_5_cities

if __name__ == "__main__":
    csv_file = 'Swiggy_dataset.csv'
    top_5_cities = top_5_cities_with_highest_restaurants(csv_file)
    print("Top 5 Cities with the Highest Number of Restaurants Listed:")
    print(top_5_cities)

Top 5 Cities with the Highest Number of Restaurants Listed:
city
Kolkata      1347
Mumbai       1278
Chennai      1107
Pune         1093
Hyderabad    1075
Name: count, dtype: int64

In [20]:
#Top 10 cities as per the number of restaurants listed?
import pandas as pd

def top_10_cities_with_highest_restaurants(csv_file):
    df = pd.read_csv(csv_file)

    city_restaurant_counts = df['city'].value_counts()

    top_10_cities = city_restaurant_counts.head(10)

    return top_10_cities

if __name__ == "__main__":
    csv_file = 'Swiggy_dataset.csv'
    top_10_cities = top_10_cities_with_highest_restaurants(csv_file)
    print("Top 10 Cities with the Highest Number of Restaurants Listed:")
    print(top_10_cities)

Top 10 Cities with the Highest Number of Restaurants Listed:
city
Kolkata      1347
Mumbai       1278
Chennai      1107
Pune         1093
Hyderabad    1075
Bangalore     946
Ahmedabad     719
Delhi         613
Surat         513
Name: count, dtype: int64

In [5]:
#Which SubRegion in Delhi is having the least expensive restaurant in terms of cost?
import pandas as pd

def area_with_least_expensive_restaurant(csv_file):
    df = pd.read_csv(csv_file)

    delhi_data = df[df['city'] == 'Delhi']

    delhi_data_sorted = delhi_data.sort_values(by='costForTwoStrings', ascending=True)

    area_with_least_expensive_restaurant = delhi_data_sorted['area'].iloc[0]

    return area_with_least_expensive_restaurant

if __name__ == "__main__":
    csv_file = 'Swiggy_dataset.csv'
    least_expensive_area = area_with_least_expensive_restaurant(csv_file)

    print(f"The area in Delhi with the least expensive restaurant in terms of cost is '{least_expensive_area}'.")

The area in Delhi with the least expensive restaurant in terms of cost is 'Pitam Pura'.

In [27]:
 #Top 5 most popular restaurant chains in India?
for name in df['name'].value_counts().sort_values(ascending=False).head(5).index:
    print(name)

La Pino'z Pizza
Baskin Robbins
Subway
NIC Natural Ice Creams
Behrouz Biryani

In [69]:
#Top 10 Restaurants with Maximum Ratings in Banglore


import pandas as pd

def top_10_restaurants_in_bangalore_by_ratings(csv_file):
    
    bangalore_data = df[df['city'] == 'Bangalore']

    bangalore_data_sorted = bangalore_data.sort_values(by='avgRating', ascending=False)

    top_10_bangalore_restaurants = bangalore_data_sorted.head(10)

    top_10_bangalore_restaurants_list = top_10_bangalore_restaurants.to_dict(orient='records')

    return top_10_bangalore_restaurants_list

if __name__ == "__main__":
    csv_file = 'Swiggy_dataset.csv'
    df  = pd.read_csv(csv_file)
    top_10_bangalore_restaurants = top_10_restaurants_in_bangalore_by_ratings(df)
   
    print("Top 10 Restaurants in Bangalore with Maximum Ratings:")
    for restaurant in top_10_bangalore_restaurants:
        print(f"Restaurant: {restaurant['name']}, Ratings: {restaurant['avgRating']}")

Top 10 Restaurants in Bangalore with Maximum Ratings:
Restaurant: Tricky Shakes, Ratings: 5
Restaurant: CREAMS & BITES, Ratings: 5
Restaurant: Frosty Crumble, Ratings: 4.9
Restaurant: Hokart - Soori Chaats, Ratings: 4.9
Restaurant: ROYCE' Chocolate, Ratings: 4.9
Restaurant: Keventers Ice Creamery, Ratings: 4.9
Restaurant: Subbudus The SnackStop ( Eswaris Homemade snacks ), Ratings: 4.8
Restaurant: Sri Krishna Sweets, Ratings: 4.7
Restaurant: Chaayos Meri Wali Chai, Ratings: 4.7
Restaurant: Artinci - Indulge Guilt Free!, Ratings: 4.7

In [12]:
import pandas as pd

def most_visitors(csv_file):
    pune_data = df[df['City'] == 'Pune']

    pune_data_sorted = pune_data.sort_values(by='avgRating', ascending=False)

    # Get the restaurant in Pune with the most number of people visiting based on total rating
    visitors = pune_data_sorted.head(5)
    top_5 = visitors.to_dict(orient='records')
    return top_5

if __name__ == "__main__":
    csv_file = 'Swiggy_dataset.csv'
    df = pd.read_csv(csv_file)
    pune_vis = most_visitors(df)

    print("Restaurant in Pune with the Most Number of People Visiting (Based on Total Ratings):")
    for restaurant in pune_vis:
        print(f"Restaurant: {restaurant['name']}, Ratings: {restaurant['avgRating']}")

Restaurant in Pune with the Most Number of People Visiting (Based on Total Ratings):

In [69]:
#Top 10 Restaurants with Maximum Ratings in Banglore


import pandas as pd

def top_10_restaurants_in_bangalore_by_ratings(csv_file):
    
    bangalore_data = df[df['city'] == 'Bangalore']

    bangalore_data_sorted = bangalore_data.sort_values(by='avgRating', ascending=False)

    top_10_bangalore_restaurants = bangalore_data_sorted.head(10)

    top_10_bangalore_restaurants_list = top_10_bangalore_restaurants.to_dict(orient='records')

    return top_10_bangalore_restaurants_list

if __name__ == "__main__":
    csv_file = 'Swiggy_dataset.csv'
    df  = pd.read_csv(csv_file)
    top_10_bangalore_restaurants = top_10_restaurants_in_bangalore_by_ratings(df)
   
    print("Top 10 Restaurants in Bangalore with Maximum Ratings:")
    for restaurant in top_10_bangalore_restaurants:
        print(f"Restaurant: {restaurant['name']}, Ratings: {restaurant['avgRating']}")

Top 10 Restaurants in Bangalore with Maximum Ratings:
Restaurant: Tricky Shakes, Ratings: 5
Restaurant: CREAMS & BITES, Ratings: 5
Restaurant: Frosty Crumble, Ratings: 4.9
Restaurant: Hokart - Soori Chaats, Ratings: 4.9
Restaurant: ROYCE' Chocolate, Ratings: 4.9
Restaurant: Keventers Ice Creamery, Ratings: 4.9
Restaurant: Subbudus The SnackStop ( Eswaris Homemade snacks ), Ratings: 4.8
Restaurant: Sri Krishna Sweets, Ratings: 4.7
Restaurant: Chaayos Meri Wali Chai, Ratings: 4.7
Restaurant: Artinci - Indulge Guilt Free!, Ratings: 4.7